*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins','sans-serif';
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(7, 38, 59);
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-size: 80px;
    font-weight: 600;
}
span{
    color: aqua;
}